.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.error-message {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  font-size: calc(10px + 1vmin);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
