.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.Rtable .Rtable-cell {
  border-bottom: 1px solid #373b42;
  display: flex;
  padding: 5px 0;
  width: 25%;
}

.Rtable.editor .Rtable-cell {
  width: 20%;
}

.Rtable .Rtable-cell.sort-option {
  border-bottom: 1px solid white;
  cursor: pointer;
  padding-bottom: 8px;
}

.breadcrumbs {
  color: white;
  cursor: pointer;
  margin: 0 4px;
  text-decoration: none;
}

h1 {
  margin-bottom: 0;
}
.metadata {
  font-size: small;
}

.add-entry--wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.data-section {
  margin-top: 24px;
  position: relative;
}

.space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.labels {
  display: none;
  margin-right: 8px;
}

@media only screen and (max-width: 800px) {
  .Rtable.editor .labels {
    display: block;
  }
  .Rtable.editor {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .Rtable.editor .Rtable-cell {
    border-bottom: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    max-width: 800px;
    padding: 8px;
    width: unset;
  }

  .Rtable.editor .Rtable-cell.Rtable-cell--head {
    background: #30353e;
    border-radius: 15px 15px 0 0;
    border-top: 1px solid white;
    font-weight: bold;
    margin-top: 10px;
  }
  .Rtable.editor .Rtable-cell.Rtable-cell--tail {
    border-bottom: 1px solid white;
    border-radius: 0 0 15px 15px;
    margin-bottom: 10px;
  }

  .Rtable.editor .Rtable-cell.sort-option {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .Rtable.viewer .labels {
    display: block;
  }
  .Rtable.viewer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .Rtable.viewer .Rtable-cell {
    border-bottom: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    max-width: 800px;
    padding: 8px;
    width: unset;
  }
  .Rtable.viewer .Rtable-cell.Rtable-cell--head {
    background: #30353e;
    border-radius: 15px 15px 0 0;
    border-top: 1px solid white;
    font-weight: bold;
    margin-top: 10px;
  }
  .Rtable.viewer .Rtable-cell.Rtable-cell--tail {
    border-bottom: 1px solid white;
    border-radius: 0 0 15px 15px;
    margin-bottom: 10px;
  }
  .Rtable.viewer .Rtable-cell.sort-option {
    display: none;
  }
}
